 <div id="giscus-container">
  <script src="https://giscus.app/client.js"
          data-repo='{{ site.data.settings.gisqus.repo }}'
          data-repo-id='{{ site.data.settings.gisqus.repo_id }}'
          data-category='{{ site.data.settings.gisqus.category }}'
          data-category-id='{{ site.data.settings.gisqus.category_id }}'
          data-mapping='{{ site.data.settings.gisqus.pathname }}'
          data-strict='{{ site.data.settings.gisqus.strict }}'
          data-reactions-enabled='{{ site.data.settings.gisqus.reactions-enabled }}'
          data-emit-metadata="0"
          data-input-position='{{ site.data.settings.gisqus.input_position }}'
          data-theme='{{ site.data.settings.gisqus.theme }}'
          data-lang="en"
          data-loading="lazy"
          crossorigin="anonymous"
          async>
  </script>
</div>
